.about-section {
  margin-top: -63px;
  margin-bottom: 3rem;
  h2 {
    margin-bottom: 0.5rem;
  }
  p:first-child {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: $min-desktop) {
  .about-section {
    display: inline-block;
    flex-basis: 30%;
    position: relative;
    left: -10%;
    h2 {
      font-size: $fz-desktop-title;
      margin-bottom: 0.5em;
    }
    p {
      font-size: $fz-desktop-text;
    }
  }

  .phone-about {
    display: flex;
    align-items: center;
  }
}
