footer {
  text-align: center;
  padding-bottom: 2rem;
  p {
    margin-bottom: 1.5rem;
  }
  .social-media {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    a {
      color: $text-color;
    }
  }
}

@media only screen and (min-width: $min-desktop) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-bottom: 0;
    }

    .social-media {
      flex-basis: 30%;
      a {
        font-size: 18px;
      }
    }
  }
}
