.pictures-section {
  margin-bottom: 3rem;
  h2 {
    margin-bottom: 1rem;
  }
}

.pictures {
  display: flex;
  flex-flow: row wrap;
  img {
    width: 100%;
  }
}

@media only screen and (min-width: $min-desktop) {
  .pictures-section {
    h2 {
      font-size: $fz-desktop-title;
      margin-bottom: 2rem;
    }
    .pictures {
      img {
        width: 33.3%;
      }
    }
  }
}
