$plex-sans: "IBM Plex Sans", sans-serif;
$plex-mono: "IBM Plex Mono", monospace;
$fz-mobile-text: 14px;
$fz-desktop-text: 16px;
$fz-mobile-title: 36px;
$fz-desktop-title: 48px;
$green: #00f3bb;
$blue: #0000ec;
$dark-blue: #0000a3;
$text-color: #060a24;
$text-active: rgba(6, 10, 36, 0.56);
$max-mobile: 767px;
$min-desktop: 768px;
